/*
section#weather{
    max-width: 55vw;
}
*/
#weather_chart {
    min-width: 1200px;
}
section#weather .weather_chart_holder {
    overflow-x: auto;
    padding-bottom: 0px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100&1+0,0+100;Blue+3D+%232 */
    background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#002c539e',GradientType=0 ); /* IE6-9 */
}

@media( min-width:1800px){
    section#weather {
        display: flex;
        flex-direction: column;
    }
    section#weather nav.filters {
        position: relative;
        width: max-content;
        white-space: nowrap;
    }
    section#weather .weather_chart_holder {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    section#weather .weather_chart_holder #weather_chart {
        flex-grow: 1;
        height: auto;
    }
}

[unit="fahrenheit"]{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: bisque;
}
section#weather #weather_chart [unit="fahrenheit"]{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkgray;
    text-shadow: 2px 2px black;
}

section#weather[show="dust"] .fine_dust,
section#weather[show="dust"] .coarse_dust{
    position: absolute;
    left: 0em;
    right:0em
}
section#weather[show="dust"] .fine_dust{
    background-color: #a7a49c;
}
section#weather[show="dust"] .coarse_dust{
    background-color: #53533f;
}
section#weather[show="dust"] [var="dust"]{
    position: absolute;
    bottom: 2em;
    left: 0em;
    right: 0em;
    text-align: center;
}