<div class="temp_chart simple" src="/plugins/NullWeather/api/weather/logs" chart="hourly_simple">
    <div class="time_bar"></div>
    <div class="hour" hour="00"></div>
    <div class="hour" hour="01"></div>
    <div class="hour" hour="02"></div>
    <div class="hour" hour="03"></div>
    <div class="hour" hour="04"></div>
    <div class="hour" hour="05"></div>
    <div class="hour" hour="06"></div>
    <div class="hour" hour="07"></div>
    <div class="hour" hour="08"></div>
    <div class="hour" hour="09"></div>
    <div class="hour" hour="10"></div>
    <div class="hour" hour="11"></div>
    <div class="hour" hour="12"></div>
    <div class="hour" hour="13"></div>
    <div class="hour" hour="14"></div>
    <div class="hour" hour="15"></div>
    <div class="hour" hour="16"></div>
    <div class="hour" hour="17"></div>
    <div class="hour" hour="18"></div>
    <div class="hour" hour="19"></div>
    <div class="hour" hour="20"></div>
    <div class="hour" hour="21"></div>
    <div class="hour" hour="22"></div>
    <div class="hour" hour="23"></div>
</div>
