
<section id="weather" show="temp" focus="outdoors">
    <nav class="filters" chart="weather_chart">
        <a href="#" filter="temp">Temperature</a>
        <a href="#" filter="humidity">Humidity</a>
        <a href="#" filter="wind">Wind</a>
        <a href="#" filter="clouds">Clouds</a>
        <a href="#" filter="dust">Dust</a>
    </nav>
    <nav class="toggle_temperature focus" chart="weather_chart">
        <a href="#" focus="indoors">Indoors</a>
        <a href="#" focus="outdoors">Outdoors</a>
    </nav>
    <div class="forecast_holder">
        <div id="forecast" collection="forecast">
        </div>
    </div>
    <div class="forecast_holder">
        <div id="forecast_daily" collection="forecast_daily">
        </div>
    </div>
    <div class="weather_chart_holder">
        <div id="weather_chart" class="weather_chart">
            <div class="time_bar"></div>
        </div>
    </div>
</section>
