<div class="forecast_daily" datetime="" icon="" day="">
    <div class="temp extra" var="temp_max" pallet_name="weather" pallet_color="temp" pallet_lerp="true" unit="fahrenheit"></div>
    <div class="temp extra" var="temp_min" pallet_name="weather" pallet_color="temp" pallet_lerp="true"  unit="fahrenheit"></div>
    <div class="humidity extra" var="hum" pallet_name="weather" pallet_color="hum" pallet_lerp="true" unit="percent"></div>
    <div class="wind extra" var="wind_speed" pallet_name="weather" pallet_color="wind" pallet_lerp="true" unit="MilesPerHour"></div>
    <div class="clouds extra" var="clouds" pallet_name="weather" pallet_color="clouds" unit="percent"></div>
    <div class="description" var="description"></div>
    <div class="day" var="day"></div>
</div>