<div class="forecast" datetime="" icon="" day="">
    <div class="temp extra" var="temp_max" pallet="temperature" pallet_value="" unit="fahrenheit"></div>
    <div class="temp extra" var="temp_min" pallet="temperature" pallet_value=""  unit="fahrenheit"></div>
    <div class="humidity extra" var="humidity" pallet_value="" unit="percent"></div>
    <div class="wind extra" var="wind_speed" pallet_value="" unit="MetersPerSeconds"></div>
    <div class="clouds extra" var="clouds" pallet_value="" unit="percent"></div>
    <div class="description" var="description"></div>
    <div class="time" var="time"></div>
    <div class="day" var="day"></div>
</div>